@import './variables.scss';

.title {
  margin: 0;
  margin-bottom: 20px;
}

.new-message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .field {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 30px;

    @media screen and (max-width: ($tablet - 1)) {
      width: 70%;
      margin-bottom: 40px;
    }

    @media screen and (min-width: ($tablet)) {
      width: 350px;
    }

    &__name {
      padding: 5px;

      color: $textColor;

      border: 1px solid $outerBackgroundColor;
      border-radius: 5px;
      outline: none;

      &::placeholder {
        color: $textColor;
      }

      @include transition(border-color);

      &:focus {
        border-color: $accentColor;
      }
    }

    &__message {
      padding: 5px;

      color: $textColor;

      border: 1px solid $outerBackgroundColor;
      border-radius: 5px;
      outline: none;
      resize: none;

      &::placeholder {
        color: $textColor;
      }

      @include transition(border-color);

      &:focus {
        border-color: $accentColor;
      }
    }
  }

  .post-comment-btn {
    @media screen and (max-width: ($tablet - 1)) {
      width: 70%;
    }

    @media screen and (min-width: ($tablet)) {
      width: 350px;
    }

    height: 32px;
    margin-bottom: 20px;
    padding: 7px;

    color: $white;

    background-color: gray;
    border: none;
    border-radius: 5px;

    @include twoTransitions(color, background-color);

    &:hover,
    &:focus {
      color: $textColor;
      background-color: $accentColor;
    }
  }

  .error {
    position: absolute;
    bottom: -20px;

    margin: 0;

    font-size: 12px;
    text-align: left;
    color: $errorColor;

    @media screen and (max-width: ($tablet - 1)) {
      bottom: -30px;
    }
  }
}
